__pycache__/
*.pyc
*.pyo
.python-version
.ipynb_checkpoints
venv/
.venv/

runs/
logs/
checkpoints/
backup/
weights/

# Saved model files
*.pt
*.pth
*.h5
*.onnx

dataset/processed/
dataset/raw/

*.zip
*.tar
*.gz

.DS_Store
Thumbs.db


